body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
}
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}
.search-container input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    padding: 8px;
}
.search-container button {
    border: none;
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.search-container button:hover {
    background-color: #0056b3;
}
  