body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    margin: 0;
}
.search-container {
    display: flex;
    align-items: center;
    padding: 5px;
  
}
.search-container input[type="text"] {
    border-radius: 4px;
    outline: none;
    flex: 1;
    padding: 8px;
    border-color: rgb(186, 186, 186);
    background-color: rgb(228, 228, 228) ;
}
.search-container button {
    border: none;
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px;

}
.search-container button:hover {
    background-color: #0056b3;
} 

.containeMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.containeLink a {
    color: #007BFF;
    margin: 10px 25px;
    text-decoration: none;
    font-weight: bolder;
}

.containeLink a:hover {
    color: #06468a
}
  