body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    z-index: 100;
}

.search-container input[type="text"] {
    border-radius: 4px;
    outline: none;
    flex: 1;
    padding: 8px;
    border-color: rgb(186, 186, 186);
    background-color: rgb(228, 228, 228);
    z-index: 100;
    position: relative;
}

.search-container button {
    border: none;
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px;
    z-index: 100;
}

.search-container button:hover {
    background-color: #0056b3;
}

.containeMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.containeLink a {
    color: #007BFF;
    margin: 10px 25px;
    text-decoration: none;
    font-weight: bolder;
}

.containeLink a:hover {
    color: #06468a;
}

#map {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.autocomplete-items {
    position: absolute;

    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    z-index: 200;
    top: 38px;
    width: 100%;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: #1e90ff !important;
    color: #ffffff;
}
